

= render '/devise/shared/side_bar'

.contents
  .contents__header
    .contents__header__left
      .contents__header__left__name rrrrr
      .contents__header__left__member Member : Ryota

    .contents__header__right
      = link_to 'Edit', '#' 
      
  .messages
    = render @messages



  .contents__form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'





